{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{% trans "Delete?" %}{% endblock page_title %}

{% block content %}
    <h1 class="d-flex justify-content-center mt-5">Are You Sure</h1>
    <div class="d-flex justify-content-center mt-5">
        <div class="card border-secondary" style="width:30rem;">
            <div class="container mt-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <p>{% trans "Do You Want To Delete This Row?" %}</p>
                    <button type="submit" class="btn btn-outline-danger">{% trans "Delete" %}</button>
                </form>
                <br>
            </div>
        </div>
    </div>

{% endblock content %}